relatorio-grupo {

  display: block;

  .relatorios-toolbar {
    background-color: var(--grid-toolbar-background-color);
    padding: 3px 10px;
  }

  .relatorio-grupo-container {

    display: flex;
    flex-direction: column;

    .toolbar-item-button {
      margin-left: 4px;
    }

    .toolbar-separator {
      margin-right: 16px;
    }

    .relatorio-grupo-lists {

      flex-grow: 1;
      border-left: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;

      .relatorio-item-container {

        display: flex;
        width: inherit;

        .relatorio-icon {

          flex-shrink: 0;
          flex-grow: 0;
          width: 60px;

          img {
            margin: auto;
          }

        }

        .relatorio-info {

          display: flex;
          flex-grow: 1;
          flex-direction: column;

          .relatorio-info-top {

            display: flex;
            flex-grow: 1;

            .relatorio-name {

              padding-top: 5px;
              flex-grow: 1;
              font-size: 18px;
              font-weight: bold;
              vertical-align: middle;

              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              width: 100px;

            }

            .relatorio-info-buttons {

              flex-grow: 0;
              vertical-align: top;

            }

          }

          .relatorio-data {

            display: flex;
            flex-grow: 0;
            height: 15px;
            font-size: 12px;
            color: #666;

            .relatorio-type {

              flex-grow: 1;

            }

          }

        }

      }

    }


  }


}

.relatorio-grupo-popup-item {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .relatorio-grupo-popup-item-form {

    flex: 0;
    height: 120px;

  }

  .relatorio-grupo-popup-item-content {

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .item-nao-selecionado {

      flex: 0;
      text-align: center;
      font-size: 18px;

    }

    .item-placeholder {

      flex: 1;
      padding-top: 15px;
      width: 100%;
      box-sizing: border-box;

    }

  }

}