<div class="relatorio-grupo-container">

    <toolbar cssClass="relatorios-toolbar">
        <toolbar-left-section>{{titulo}}</toolbar-left-section>
        <toolbar-right-section>
            <dx-button *ngIf="datasource.length > 1" icon="fa fa-arrow-up" class="toolbar-item-button" (onClick)="moveUp()" [disabled]="disabled"></dx-button>
            <dx-button *ngIf="datasource.length > 1" icon="fa fa-arrow-down" class="toolbar-item-button toolbar-separator" (onClick)="moveDown()" [disabled]="disabled"></dx-button>
            <dx-button icon="plus" class="toolbar-item-button" hint="Adicionar item" (onClick)="adicionarItem()" [disabled]="disabled"></dx-button>
            <dx-button *ngIf="datasource.length > 0" class="toolbar-item-button" icon="print" hint="Imprimir" (onClick)="imprimirGrupo()"></dx-button>
        </toolbar-right-section>
    </toolbar>

    <div id="relatorioGrupoListPanel" class="relatorio-grupo-lists">

        <dx-list #fileList
                 (onContentReady)="onContentReady($event)"
                 [dataSource]="datasource" [selectionMode]="selectionMode"
                 [showSelectionControls]="showSelectionControls"
                 [(selectedItems)]="selectedItems"
                 (onItemReordered)="onItemReordered($event)" height="100%">


            <dxo-item-dragging
                    [allowReordering]="allowItemReordering">
            </dxo-item-dragging>


            <div *dxTemplate="let data of 'item'">

                <div class="relatorio-item-container">
                    <div class="relatorio-icon">
                        <img [src]="'/GRP/servlets/filetypeimg?filename=arq.' + data.arqExt" width="48px" height="48px">
                    </div>
                    <div class="relatorio-info">
                        <div class="relatorio-info-top">
                            <div class="relatorio-name">
                                {{data.nome}}
                            </div>
                            <div class="relatorio-info-buttons">
                                <dx-button icon="print" hint="Imprimir" class="toolbar-item-button" (onClick)="imprimirItem($event, data)" [disabled]="disabled"></dx-button>
                                <dx-button icon="edit" hint="Editar" class="toolbar-item-button" (onClick)="editarItem($event, data)" [disabled]="disabled"></dx-button>
                                <dx-button icon="clear" hint="Excluir" class="toolbar-item-button" (onClick)="removerItem($event, data)" [disabled]="disabled"></dx-button>
                            </div>
                        </div>
                        <div class="relatorio-data">
                            <div class="relatorio-type">
                                {{data.tipoItem}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </dx-list>

        <dx-load-panel [position]="{my: 'center', at: 'center', of: '#content-body'}"
            [(visible)]="loadingVisible"
            [showIndicator]="true"
            [showPane]="true"
            [shading]="true"
            [closeOnOutsideClick]="false">
        </dx-load-panel>

    </div>


    <sonner-popup [fullScreen]="true" [(visible)]="itemPopupVisible" [popupTitle]="popupTitulo" (onAceitarButtonClicked)="onPopupAceitar()" (onCancelarButtonClicked)="onPopupCancelar()">

        <div [id]="relatorioGrupoId + 'popup'" class="relatorio-grupo-popup-item">

            <div class="relatorio-grupo-popup-item-form">

                <dx-form>

                    <dxi-item [label]="{text: 'Tipo', alignment: 'right'}" template="tipoTemplate"></dxi-item>
                    <dxi-item [label]="{text: 'Documento', alignment: 'right'}" *ngIf="exibeSelecaoTipoArquivo"  template="tipoArquivoTemplate"></dxi-item>

                    <dxi-item *ngIf="exibeSelecaoRelatorio" itemType="group" [colCount]="2">
                        <dxi-item [label]="{text: 'Relatório', alignment: 'right'}" *ngIf="exibeSelecaoRelatorio" template="tipoRelatorioTemplate"></dxi-item>
                        <dxi-item [label]="{visible: false}" template="imprimirTemplate"></dxi-item>
                    </dxi-item>

                    <div *dxTemplate="let data of 'tipoTemplate'">
                        <select-box-enum-based [type]="itemTypeEnum" [(selectedItem)]="tipoItem" [showClearButton]="false" [width]="200"></select-box-enum-based>
                    </div>

                    <div *dxTemplate="let data of 'tipoArquivoTemplate'">
                        <select-box-enum-based [type]="fileTypeEnum" [(selectedItem)]="tipoArquivo" [showClearButton]="false" [width]="500"></select-box-enum-based>
                    </div>

                    <div *dxTemplate="let data of 'tipoRelatorioTemplate'">
                        <dx-drop-down-box
                                [(value)]="report"
                                displayExpr="nome"
                                placeholder="Selecione um relatório..."
                                [dataSource]="reportsCfg"
                                (onValueChanged)="syncTreeViewSelection($event)"
                                [width]="500">

                            <div *dxTemplate="let data of 'content'">
                                <dx-tree-view
                                        [dataSource]="reportsCfg"
                                        [height]="400"
                                        dataStructure="plain"
                                        keyExpr="id"
                                        parentIdExpr="parentId"
                                        selectionMode="single"
                                        displayExpr="nome"
                                        [selectByClick]="true"
                                        [searchEnabled]="true"
                                        searchMode="contains"
                                        (onContentReady)="$event.component.selectItem(report)"
                                        (onItemSelectionChanged)="onReportSelected($event)">
                                </dx-tree-view>
                            </div>
                        </dx-drop-down-box>


<!--                        <dx-select-box [items]="reportsCfg" [(selectedItem)]="report" displayExpr="reportTitle" [showClearButton]="false" [width]="400"></dx-select-box>-->
                    </div>

                    <div *dxTemplate="let data of 'imprimirTemplate'">
                        <dx-button [visible]="exibeBotaoImprimir" text="Imprimir" (onClick)="imprimirRelatorioCorrente()"></dx-button>
                    </div>

                </dx-form>

            </div>

            <div class="relatorio-grupo-popup-item-form">

                <dx-form style="padding-top: 4px;">

                    <dxi-item [label]="{text: 'Título', alignment: 'right'}" colSpan="3" [visible]="exibeTitulo" template="tituloTemplate"></dxi-item>
                    <dxi-item [label]="{text: 'Legislação', alignment: 'right'}" colSpan="3" [visible]="exibeTitulo" template="legislacaoTemplate"></dxi-item>

                    <div *dxTemplate="let data of 'tituloTemplate'">
                        <dx-text-box [(value)]="itemTitulo" [maxLength]="256" [width]="500"></dx-text-box>
                    </div>

                    <div *dxTemplate="let data of 'legislacaoTemplate'">
                        <dx-text-box [(value)]="itemLegislacao" [maxLength]="256" [width]="500"></dx-text-box>
                    </div>

                </dx-form>

            </div>


            <div class="relatorio-grupo-popup-item-content">

                <div *ngIf=" !reportComponent && !docsComponent && !arqDigitalComponent" class="item-nao-selecionado">
                    Nenhum item selecionado
                </div>

                <div [ngStyle]="{ 'display': (reportComponent || docsComponent || arqDigitalComponent) ? 'block' : 'none' }" class="item-placeholder">
                    <ng-template relatorio-host></ng-template>
                </div>

            </div>

        </div>
    </sonner-popup>

</div>
