tooltip-helper {
}

.tooltip-helper-button {
  color: #FFF !important;
  font-weight: bold !important;
  background: #70ABE5;
  border-radius: 50% !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  padding: 1px !important;
  background-clip: content-box !important;
}








