docker-pull-layer {

  .layerBox {

    margin-top: 20px;

    .layerInfo {

      font-size: 14px;
      text-align: left;
      color: #5d5d5d;
      padding-bottom: 3px;
      padding-left: 35px;

    }

    .progressBar {
      padding-left: 35px;
    }

    .complete .dx-progressbar-range {
      background-color: green;
    }

  }

}