<div class="classic-modal {{cssClass}}">
    <div class="classic-modal-header">
        <ng-content select="[modal-header]"></ng-content>

        <div class="classic-modal-header-title">
            {{ modalTitle }}
        </div>
        <div class="classic-modal-header-close">
            <img src="/GRP/assets/images/icons-lib/inverted/1131-cross2.png" (click)="close()" width="15" height="15" border="0">
        </div>
    </div>
    <div class="classic-modal-content">
        <ng-content select="[modal-content]"></ng-content>
    </div>
    <div class="classic-modal-footer">
        <ng-content select="[modal-footer]"></ng-content>
    </div>
</div>