classic-dynamic-modal {
  .dynamic-popup {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    z-index: 1500;
    position: absolute; /* important: absolute */
    background-color: white;
    opacity: 1;
  }

  .dynamic-popup-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    padding: 25px;
    background-color: #363377;
    color: white;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
  }

  .dynamic-popup-content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    background-color: white;
    opacity: 1;
  }

  .close {
    cursor: pointer;
  }
}