crud {

  .dx-accordion-item {
    border: none;
    border-top-color: transparent;
  }

  .dx-accordion-item:last-child {
    border-bottom: none;
  }

  .dx-accordion-item-opened.dx-state-hover > .dx-accordion-item-title,
  .dx-accordion-item-opened > .dx-accordion-item-title {
    background-color: #f0f0f0;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 2px;
  }

  .dx-accordion-item-title {
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    background-color: #f0f0f0;
    padding: 5px;
  }

  .dx-accordion-item-title:before {
    display: none;
  }

  .dx-accordion-item-opened .dx-accordion-item-body {
    visibility: visible;
    padding-bottom: 10px;
  }

  .dx-accordion-item-body {
    padding: 0;
  }

  .dx-accordion-item-title:before {
    float: none;
  }

}