message-panel {

  width: 100%;

  .view-message {

    padding: 10px;
    color: white;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0;

    .view-message-panel {

      display: flex;

      .view-message-icon {

        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .view-message-body {

        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 13px;

        .view-message-item {

          padding: 4px 10px;
          text-align: left;

        }

        .detalhes {
          cursor: pointer;
          font-weight: bold;
        }

      }

      .view-message-close-button {

        width: 20px;
        flex-grow: 0;

        img {
          cursor: pointer;
          margin-top: -5px;
        }

      }

    }

    .view-message-pag-panel {

      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      cursor: pointer;

      .view-message-prev-pag {

        border-radius: 4px 0px 0px 4px;
        border: 1px solid white;
        border-right: 0;
        padding: 2px 4px;

      }

      .view-message-pag {
        border: 1px solid white;
        border-right: 0;
        padding: 2px 4px;
      }

      .view-message-pag.selected {
        font-weight: bold;
        background-color: #f87d7d;
      }

      .view-message-next-pag {
        border-radius: 0px 4px 4px 0px;
        border: 1px solid white;
        padding: 2px 4px;
      }


    }

  }

  .view-message.error {

    background-color: #FA625C;

  }

  .view-message.warning {

    background-color: #FFB752;

  }

  .view-message.info {

    background-color: #6FB3E0;

  }

  .view-message.success {

    background-color: #80BF80;

  }

}