#navbarNav {
  text-align: center;
  background-color: #243A7A;
}

#icone-user-cadastro{
  width: 40px;
  height: 40px;
  float: right;
  cursor: pointer;
}

a {
  cursor: pointer;
  outline: none;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding-right: 1%;

}

#web-social {
  float: left;
  margin-left: 30px;
}

#relacao-de-alunos {
}

#nav-nome-unidade{
  padding-left: 2%;
}


/*AQUI ACABA A NAV BAR---------------------------------------------------------------------------------------------------*/


#corpo-cadastro {
  height: 100vh;
  background-color: #243A7A;
}

#caixa-cadastro {
  height: 92vh;
  width: 90vw;
  background-color: whitesmoke;
  position: relative;
  top: 2%;


}

#titulo-cadastro {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: #243A7A;
  padding-top: 5%;
}

#formulario-cadastro {
  padding-left: 2%;
  padding-top: 0.5%;
  padding-right: 2%;
}


/*AQUI ACABA O FORMULARIO------------------------------------------------------------------------------------------------*/


label {
  font-family: arial, sans-serif;
  padding: 2px;

}

p {
  font-family: arial, sans-serif;

}

/*COMECANDO EDITAR OS INPUTS---------------------------------------------------------------------------------------------*/


#input-nome {

}

#div-dataNascimento {
  width: auto;

}

#div-idade-atual {
  width: auto;

}

#div-idade-inicial {
  width: auto;
  margin-left: 2%;

}

#sexo {
  padding-left: 0% !important;

}

#input-sexoMasculino {
  padding-right: 2% !important;

}

#div-desligado {
  padding-left: 0% !important;

}

#div-desacompanhado {
  padding-left: 0% !important;

}

#button-cadastrar {
  margin-top: 10%;
  margin-left: 41%;
  width: 15vw;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #FFF500;
  cursor: pointer;
}
