<div class="container-fluid p-0" id="corpo-cadastro">
  <div class="container-fluid p-0" id="caixa-cadastro">
    <form id="formulario-cadastro" [formGroup]="formGroup">
      <p id="titulo-cadastro"><strong>Cadastro de Atendidos</strong></p>

      <div class="row" style="padding-top: 2%">

        <div class="col-md-6">
          <div class="form-group">
            <label for="input-nome">Nome</label>
            <input class="form-control" id="input-nome" type="text" formControlName="nome"
                   placeholder="Nome completo do atendido"
                   [(ngModel)]="aluno.nome" required>
            <ng-container *ngIf="formGroup.controls.nome.touched">
              <span *ngIf="formGroup.controls.nome.errors">
              * O nome é obrigatorio
            </span>
            </ng-container>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" id="div-dataNascimento">
            <label for="input-dataNascimento">Data de Nascimento</label>
            <input class="form-control" id="input-dataNascimento" type="date" formControlName="dataNascimento"
                   [(ngModel)]="aluno.dataNascimento" required>
            <ng-container  *ngIf="formGroup.controls.dataNascimento.touched">
              <span  *ngIf="formGroup.controls.dataNascimento.errors">
              * O campo é obrigatorio
            </span>
            </ng-container>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="input-idadeInicial">Idade Inicial</label>
            <input class="form-control" id="input-idadeInicial" type="number" formControlName="idadeInicial"
                   [(ngModel)]="aluno.idadeInicial" required>
            <ng-container *ngIf="formGroup.controls.idadeInicial.touched">
              <span *ngIf="formGroup.controls.idadeInicial.errors">
              * A idade inicial é obrigatorio
            </span>
            </ng-container>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="input-idadeAtual">Idade Atual</label>
            <input class="form-control" id="input-idadeAtual" type="number" formControlName="idadeAtual"
                   [(ngModel)]="aluno.idadeAtual" required>
            <ng-container *ngIf="formGroup.controls.idadeAtual.touched">
              <span *ngIf="formGroup.controls.idadeAtual.errors">
              * A idade atual é obrigatorio
            </span>
            </ng-container>
          </div>
        </div>

      </div>

      <div class="row" style="padding-top: 2%">
        <div class="col-md-3">
          <div class="form-group">
            <label for="select-sexo">Genero</label>
            <select class="form-select" id="select-sexo" formControlName="sexo" [(ngModel)]="aluno.sexo" required>
              <option value="Feminino">Feminino</option>
              <option value="Masculino">Masculino</option>
            </select>
            <ng-container *ngIf="formGroup.controls.sexo.touched">
              <span *ngIf="formGroup.controls.sexo.errors">
              * O genero é obrigatorio
            </span>
            </ng-container>
          </div>
        </div>

        <div class="col-md-3">

          <div class="form-group">
            <label for="input-nisAtendido">Nis Atendido</label>
            <input class="form-control" id="input-nisAtendido" type="text" formControlName="nisAtendido"
                   [(ngModel)]="aluno.nisAtendido">
          </div>


        </div>


        <div class="col-md-2">
          <div class="form-group">
            <label for="input-dataMatricula">Data da Matrícula</label>
            <input class="form-control" id="input-dataMatricula" type="date" formControlName="dataMatricula"
                   [(ngModel)]="aluno.dataMatricula" required>
            <ng-container *ngIf="formGroup.controls.dataMatricula.touched">
              <span *ngIf="formGroup.controls.dataMatricula.errors">
              * O campo é obrigatorio
            </span>
            </ng-container>
          </div>
        </div>


        <div class="col-md-2">
          <div class="container" id="div-desligado">
            <label for="select-desligado">Desligado</label>
            <select class="form-select" id="select-desligado" formControlName="desligado" [(ngModel)]="aluno.desligado">
              <option value="sim">Sim</option>
              <option value="nao">Nao</option>
            </select>
          </div>

        </div>

      </div>

      <div class="row" style="padding-top: 2%">
        <div class="col-md-6">
          <div class="form-group">
            <label for="input-escola">Escola </label>
            <input class="form-control" id="input-escola" type="text" formControlName="escola"
                   [(ngModel)]="aluno.escola" required>
            <ng-container *ngIf="formGroup.controls.escola.touched">
              <span *ngIf="formGroup.controls.escola.errors">
              * A escola é obrigatorio
            </span>
            </ng-container>
          </div>

        </div>

        <div class="col-md-2 ">
          <div class="form-group">
            <label for="input-anoEscolar">Ano Escolar</label>
            <input class="form-control" id="input-anoEscolar" type="text" formControlName="anoEscolar"
                   [(ngModel)]="aluno.anoEscolar" required>
            <ng-container *ngIf="formGroup.controls.anoEscolar.touched">
              <span *ngIf="formGroup.controls.anoEscolar.errors">
              * O ano escolar é obrigatorio
            </span>
            </ng-container>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="select-periodoEscolar">Periodo Escolar</label>
            <select class="form-select" id="select-periodoEscolar" formControlName="periodoEscolar"
                    [(ngModel)]="aluno.periodoEscolar" required>
              <option value="manha">Manhã</option>
              <option value="tarde">Tarde</option>
            </select>
            <ng-container *ngIf="formGroup.controls.periodoEscolar.touched">
              <span *ngIf="formGroup.controls.periodoEscolar.errors">
              * O periodo escolar é obrigatorio
            </span>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%">
        <div class="col-md-3">
          <div class="container" id="div-desacompanhado">
            <label for="select-desacompanhado">Desacompanhado</label>
            <select class="form-select" id="select-desacompanhado" formControlName="desacompanhado"
                    [(ngModel)]="aluno.desacompanhado">
              <option value="sim">Sim</option>
              <option value="nao">Nao</option>
            </select>
          </div>

        </div>
        <div class="col-md-9">
          <div class="form-group">
            <label for="input-autorizadoBuscar">Autorizado a buscar</label>
            <textarea class="form-control" id="input-autorizadoBuscar" type="text" formControlName="autorizadoBuscar"
                      [(ngModel)]="aluno.autorizadoBuscar"></textarea>
          </div>
        </div>

      </div>
    </form>

  </div>
</div>

<div class="container-fluid p-0" id="corpo-cadastro-responsavel">
  <div class="container-fluid p-0" id="caixa-cadastro-responsavel">
    <form id="formulario-cadastro-responsavel" style="padding-top: 2%">
      <p id="titulo-cadastro-responsavel"><strong>Cadastro do Responsável</strong></p>

      <div class="row" style="padding-top: 2%">

        <div class="col-md-6">
          <div class="form-group">
            <label for="input-nome">Nome</label>
            <input class="form-control" id="input-nome-responsavel" type="text" name="nome"
                   placeholder="Nome completo do Responsável" [(ngModel)]="aluno.responsavel.nome">

          </div>
        </div>


        <div class="col-md-2">
          <div class="form-group" id="div-dataNascimento-responsavel">
            <label for="input-dataNascimento-responsavel">Data de Nascimento</label>
            <input class="form-control" id="input-dataNascimento-responsavel" type="date"
                   name="dataNascimento-responsavel" [(ngModel)]="aluno.responsavel.dataNascimento">
            <span>

            </span>
          </div>
        </div>


        <div class="col-md-4">
          <div class="form-group">
            <label for="input-cpf">CPF</label>
            <input class="form-control" id="input-cpf" type="text" name="cpf" [(ngModel)]="aluno.responsavel.cpf">
          </div>
        </div>

      </div>

      <div class="row" style="padding-top: 2%">

        <div class="col-md-3">
          <div class="form-group">
            <label for="input-identidade">Identidade</label>
            <input class="form-control" id="input-identidade" type="text" name="identidade"
                   [(ngModel)]="aluno.responsavel.identidade">
          </div>
        </div>


        <div class="col-md-3">
          <div class="form-group">
            <label for="input-dataEmissao">Data de Emissão</label>
            <input class="form-control" id="input-dataEmissao" type="date" name="dataEmissao"
                   [(ngModel)]="aluno.responsavel.dataEmissao">
          </div>
        </div>


        <div class="col-md-2">
          <div class="form-group">
            <label for="input-uf">UF </label>
            <input class="form-control" id="input-uf" type="text" name="uf" [(ngModel)]="aluno.responsavel.uf">
          </div>
        </div>


        <div class="col-md-4 ">
          <div class="form-group">
            <label for="input-orgaoExpeditor">Órgão Expeditor</label>
            <input class="form-control" id="input-orgaoExpeditor" type="text" name="orgaoExpeditor"
                   [(ngModel)]="aluno.responsavel.orgaoExpeditor">
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%">

        <div class="col-md-3">
          <div class="form-group">
            <label for="input-ctps">CTPS</label>
            <input class="form-control" id="input-ctps" type="text" name="ctps" [(ngModel)]="aluno.responsavel.ctps">
          </div>
        </div>


        <div class="col-md-3">
          <div class="form-group">
            <label for="input-nisResponsavel">Nis Responsável</label>
            <input class="form-control" id="input-nisResponsavel" type="text" name="nisResponsavel"
                   [(ngModel)]="aluno.responsavel.nisResponsavel">
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label for="input-endereco">Endereco</label>
            <input class="form-control" id="input-endereco" type="text" name="endereco"
                   [(ngModel)]="aluno.responsavel.endereco">
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 2%">
        <div class="col-md-6">
          <div class="form-group">
            <label for="input-email">Email</label>
            <input class="form-control" id="input-email" type="email" name="email"
                   [(ngModel)]="aluno.responsavel.email">
          </div>
        </div>


        <div class="col-md-3">
          <div class="form-group">
            <label for="input-telefone">Telefone</label>
            <input class="form-control" id="input-telefone" type="tel" name="telefone"
                   [(ngModel)]="aluno.responsavel.telefones">
          </div>
        </div>

        <!--        <div class="col-md-3">-->
        <!--          <div class="form-group">-->
        <!--            <label for="input-telefone2">Telefone 2</label>-->
        <!--            <input class="form-control" id="input-telefone2" type="tel" name="telefone2" [(ngModel)]="responsavel.telefones">-->
        <!--          </div>-->
        <!--        </div>-->
      </div>

      <div class="row" style="padding-top: 2%">
        <div class="col-md-6">
          <div class="form-group">
            <label for="input-observacao">Observacao</label>
            <textarea class="form-control" id="input-observacao" type="text" name="observacao"
                      [(ngModel)]="aluno.responsavel.observacao"></textarea>
          </div>
        </div>
      </div>

    </form>

    <button type="submit" id="button-cadastrar" (click)="cadastrar()">Cadastrar</button>

  </div>
</div>


