<div class="wizardBox">

    <div class="wizardProgress">

        <ul class="progress-indicator">
            <li *ngFor="let stepComp of steps; let i = index" [ngClass]="{'completed': i + 1 < step, 'active': i + 1 == step}">
                <span class="bubble"></span>{{stepComp.stepTitle}}
            </li>
        </ul>

    </div>

    <div class="stepContent">
        <ng-content></ng-content>
    </div>

    <div *ngIf="showStepsButton" class="wizardFooter">
        <dx-button icon="chevronprev" type="default" [disabled]="step === 1" (onClick)="prev()"></dx-button>
        <dx-button *ngIf="step < totalSteps" icon="chevronnext" type="default" (onClick)="next()"></dx-button>
        <dx-button *ngIf="showSuccessButton && step == totalSteps" text="Concluir" icon="check" type="success" (onClick)="finish()"></dx-button>
    </div>

</div>