<div class="route-body">
    <toolbar class="toolbar" [cssClass]="toolbarCssClass">
        <toolbar-left-section>
            <div class>{{viewTitle}}</div>
        </toolbar-left-section>

        <toolbar-right-section>
    
            <ng-content select="[toolbar-right]"></ng-content>
            
            <div *ngIf="printButtonShow" title="{{printButtonTitle}}">
                <action-button (action)="onPrintButtonAction($event)" cssClass="{{closeButtonCssClass}}">
                    <dx-button
                            icon="{{printButtonIconClass}}"
                            text="{{printButtonText}}">
                    </dx-button>
                </action-button>
            </div>
            <div *ngIf="closeButtonShow" title="{{closeButtonTitle}}">
                <action-button (action)="onCloseButtonAction($event)" cssClass="{{closeButtonCssClass}}">
                    <dx-button
                            icon="{{closeButtonIconClass}}"
                            text="{{closeButtonText}}">
                    </dx-button>
                </action-button>
            </div>
        </toolbar-right-section>
    </toolbar>

    <!-- messages -->
    <message-panel [(visible)]="messagePanelVisible" [messageType]="messageType" [messages]="messages"></message-panel>

    <div class="header">
        <ng-content select="[header]"></ng-content>
    </div>

    <div class="content">
        <ng-content select="[content]"></ng-content>
    </div>

</div>