<!--<div class="container" id="corpo">-->

<div class="alunoList">
  <table class="table table-stripes">
    <input type="text" [(ngModel)]="filtro" (ngModelChange)='filtrar(filtro)'>
    <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Data Nascimento</th>
      <th>Idade Atual</th>
      <th>Sexo</th>
      <th>Nis Atendido</th>
      <th>Período Escolar</th>
      <th>Desacompanhado</th>
      <th>Autorizado Buscar</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let aluno of alunos; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{aluno.nome}}</td>
      <td>{{aluno.dataNascimento}}</td>
      <td>{{aluno.idadeAtual}}</td>
      <td>{{aluno.sexo}}</td>
      <td>{{aluno.nisAtendido}}</td>
      <td>{{aluno.periodoEscolar}}</td>
      <td>{{aluno.desacompanhado}}</td>
      <td>{{aluno.autorizadoBuscar}}</td>
      <td>
        <button type="button" class="btn btn-info" (click)="showAluno(aluno.id)" id="buttonEdit">Editar</button>
        <button type="button" class="btn btn-danger" (click)="onDelete(aluno.id)" id="buttonDelete">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--</div>-->












