dx-data-grid{
  margin-top: 100px;
  border: 1px solid black;
}
dxi-column{
  border: 1px solid black;

}
#div-tabela{
  width: 98vw;
  height: 85vh;
  background-color: whitesmoke;
}

#div-web-social{
  height: 85vh;
}
